
<!DOCTYPE html>
<html lang="en">
  <head>
 <title> Ecommmerce clone </title>
 <link rel="stylesheet" href="/css/bootstrap.min.css">  
 <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>

    <% include ./partials/navbar %>

      <!-- Example row of columns -->
   <%- body -%>

    <% include ./partials/footer %>
    <% include ./partials/javascriptOnly %>
  </body>
</html>
