<%- layout('boilerplate') -%>

<h1> shop smart, save big</h1>

<p> testing tesaing slgrlgir</p>


<p>Signup to start buying</p>
<h3>Start your search here</h3>


<p> our prices are some of the best on the web</p>

<h3>Look for smart items</h3>