<%- layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="navbar-gap">
      <div class="container">
     <h1> shop smart, save big</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
             <h2>Start your search here</h2>
             <p>Signup to start buying</p>
        </div>
        <div class="col-md-4">
             <h2>Look for smart items</h2>
             <p> our prices are some of the best on the web</p>
       </div>
        <div class="col-md-4">
          <h2>Grab this offer</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </div>
      </div>
